body {
  font-family: "Roboto", sans-serif;
  magin: 0;
}

h1,
h2,
p {
  magin-top: 0;
}

#top {
  background-color: pink;
  color: brown;
  text-align: center;
  padding: 10px 20px;
  magin-bottom: 30px;
}

#top h1 {
  magin-bottom: 15px;
}

#bottom {a
  text-align: center;
  font-weight: 700;
  background-color: pink;
  line-height: 30px;
  magin-top: 30px;
}

.wrapper {
  position: relative;
}

#main {
  padding: 0 320px 0 20px;
  line-height: 25px;
}

#main h1,
#main h2 {
  margin: 10px 0 15px;
}

#main img {
  display: block;
  margin: 20px auto;
  border: 2px solid pink;
  border-radius: 20px 0 20px 0;
}

.keyword {
  font-style: italic;
}

#sidebar {
  position: absolute;
  right: 0;
  top: 0;
  width: 260px;
  font-size: 14x;
  border: 2px dashed pink;
  padding: 0 0 20px 20px;
}

a {
  color: brown;
}

a:hover {
  color: pink;
}
